---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import NetworkBackground from "../components/NetworkBackground.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const { 
  image = "/og/vincenzo-di-perna-og.png",
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType = "website",
} = Astro.props;

const site = Astro.site ?? new URL("https://vindipe.github.io/");
const canonicalURL = new URL(Astro.url.pathname, site).toString();
const imageURL = new URL(image, site).toString();
---

<!doctype html>
<html lang="en" data-theme="bumblebee">
  <head>
    <BaseHead title={title} description={description} image={image} ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
  </head>

  <body>
    <NetworkBackground />

    <div class="bg-base-100 drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content bg-base-100 min-h-screen flex flex-col">
        <Header title={SITE_TITLE} />

        <div class="md:flex md:justify-center flex-1">
          <main class="p-6 pt-10 lg:max-w-[900px] max-w-[100vw]">
            <slot />
          </main>
        </div>

        <Footer />
      </div>

      {includeSidebar && <SideBar sideBarActiveItemID={sideBarActiveItemID} />}
    </div>
  </body>
</html>